/* Results Page Styles */
.user-results, .average-results {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

.results-bars {
    display: flex;
    height: 30px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.result-bar {
    transition: flex-grow 0.3s ease;
}

.war {
    background-color: #ff6666; /* Red for war */
}

.research {
    background-color: #66cc66; /* Green for clinical research */
}

h2 {
    color: #007bff;
}

p {
    margin: 10px 0;
}

/* Enhancing the visual contrast for the results */
#userWarPercentageDesired, #averageWarPercentageDesired {
    border-right: 2px solid #fff; /* Adding a white border to visually separate the bars */
}

#userResearchPercentageDesired, #averageResearchPercentageDesired {
    border-left: 2px solid #fff; /* Adding a white border to visually separate the bars */
}
